#add-order
{
    margin: 40px 0;
    .order
    {
        border: 1px solid #ccc;
        padding: 20px;
        label
        {
            font-weight: 500;
            color: #333;
        }
        .col-lg-4
        {
            margin-bottom: 25px;
            .order-items,
            .meal-items
            {
                width: 50%;
                margin: 10px 0 5px 20px;
                outline: none;
                color: #333;
            }
            .meal-items {
                margin-left: 50px;
            }
            .quantity
            {
                input
                {
                    width: 50%;
                    margin: 10px 0 5px 74px;
                    outline: none;
                }
            }
            .combo,
            .spicy
            {
                input {
                    margin-right: 10px;
                }
                label {
                    color: #333;
                }
            }
            .price
            {
                margin-top: 40px;
                @media (max-width: 800px) {
                    margin-top: 10px;
                }
                h2
                {
                    font-size: 30px;
                    color: #333;
                }
            }
            .add-btn
            {
                text-align: right;
                .btn
                {
                    margin-top: 30%;
                    padding: 8px 50px;
                    box-shadow: none;
                    @media (max-width: 800px) {
                        margin-top: 10px;
                    }
                }
            }
        }
        .center
        {
            left: 10%;
            @media (max-width: 800px) {
                left: 38%;
            }
            @media (max-width: 414px) {
                left: 25%;
            }
        }
    }
}